
h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;

}

li{
  font-size: 14px;
}

.well {
  min-height: 20px;
  padding: 2px;
  margin-bottom: 10px;
}

.center {
  padding: 30px;
  background: #fcfcfc;;
}
.brand{
  background-image: url("../wetlands_test.jpg");
  background-repeat: repeat-y;
  background-size:100vw
  width:100vw;
  color: black;
  font-weight: 900;
}

.row{
  padding:10px;
}

body {
    background-color: #fcfcfc;
  font-family: 'PT Serif', serif;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}