<div><h5>Census Block Group: </h5><h4>{{$ctrl.data2017[0].Id}}</h4></div>
<div><h5>Attribute: </h5><h4>% {{$ctrl.yAxis}}</h4></div>
<div class="site">
<!--  style="width:{{$ctrl.w}}px; height:{{$ctrl.h}}px;" > 
    
    <div class="y" style="width:{{$ctrl.h}}px;">{{$ctrl.yAxis}}</div>
    
   	<div class="x">{{$ctrl.xAxis}}</div>
      <svg height="{{$ctrl.h}}" width="100%">
      <line class="line{{$index}}" ng-repeat="point in $ctrl.points" x1="{{$ctrl.w / $ctrl.maxX * $index }}" y1="{{$ctrl.points[$index - 1].yValue / $ctrl.maxY * $ctrl.h}}" x2="{{$ctrl.w / $ctrl.maxX * ($index + 1)}}" y2="{{point.yValue / $ctrl.maxY * $ctrl.h}}" />
    </svg>
     <div class="dot dot{{$index}}" ng-repeat="point in $ctrl.points" style="bottom:calc({{point.yValue}}/{{$ctrl.maxY}}*{{$ctrl.h}}px - 5px); left:calc({{point.xValue}}/{{$ctrl.maxX}}*{{$ctrl.w}}px - 5px);" data-title="{{point.label}}: {{point.yValue}}">{{point.yValue | number:2}}%</div> -->
  	
  </div>

  <script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#fa39c3">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              {{heading}}
            </span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" style="text-align: right" ng-transclude></div>
      </div>
    </div>
  </script>
  <uib-accordion close-others="$ctrl.oneAtATime">
 
    <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in $ctrl.groups">
      <h5>Demographics</h5>
      Total population: {{group.content[0].Total}}
      <br>Black or African American: {{group.content[0]['Black or African American']}}
      <br>White: {{group.content[0].White}}
      <br>Asian: {{group.content[0].Asian}}
      <br>Hispanic: {{group.content[0].Hispanic}}
      <p><h5>Income and rent data</h5>
      Coming soon.
    </div>
  </uib-accordion><!-- 

      Median contract rent: {{group.content[0]['Median contract rent 2017']}}
      <br>Black or African American: {{group.content[0]['Black or African American']}}
      <br>Asian: {{group.content[0].Asian}}
      <br>Hispanic: {{group.content[0].Hispanic}}

  <div> <h4>Rent and income data from 2014:</h4></div>
  <div ng-repeat="(key, value) in $ctrl.inc" -->